<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Link Prompt Form</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="main_container">
        <div class="sidebar">
            <h1>History</h1>
            <button id="new-chat" class="new-chat-button">New Chat</button>
            <ul id="id-list">
                
            </ul>
            
        </div>
        <div class="form_data">
           
            <div id="chat-box" class="chat-box">
                
            </div>
            <div id="chatform" class="chatform">
                <form id="submissionForm" method="post" action="/process_image">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username">
                    </div>
                    <div class="form-group">
                        <label for="imageLink">Image Link</label>
                        <input type="text" id="imageLink" name="imageLink">
                    </div>
                    <div class="form-group">
                        <label for="prompt">Prompt</label>
                        <textarea id="prompt" name="prompt" rows="4" cols="50" readonly>Describe the following</textarea>
                    </div>
                    <button type="submit">Submit</button>
                </form>
                <div class="result_container">
                    <h1>Result</h1>
                    <p id="result"></p>
                </div>
            </div>
            <div id="display-container" class="display-container" style="display: none;">
                <!-- image, prompt, and response  -->
            </div>
            <script src='/static/js/script.js'></script>
            
            
        </div>
    </div>
</body>
</html>
